@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(34, 33, 34);
  background-color: white;
}

header {
  background-color: rgb(49, 48, 49);
  background-color: white;
  background-color: rgb(92, 84, 92);
  height: 70px;
  width: 100%;
}
/* .greeting {
  color: white;
  color: white;
  color: rgb(34, 33, 34);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 20px;
} */

/* .name {
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  animation: type 8s steps(60, end); 
} */


/* GLOBAL STYLES */
/* body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
} */

/* DEMO-SPECIFIC STYLES */
.typewriter {
  padding: 20px;
  color: rgb(59, 43, 59);
  color: #fff;
  font-size: 38px;
  font-family: monospace;
  font-family: 'Fira Code', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.picture-border {
  /* background-image: url('johannes-plenio-6XUA5KQ9-1k-unsplash.jpg');
  background-image: url('michael-dziedzic--a_LuSsIxHM-unsplash.jpg'); */
  /* height: 16px;
  width: 100%;
  background-size: cover;
  background-color: rgb(41, 30, 41); */
  height: 10px;
  width: 100%;
  background-color: white;
}

.main-section {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;

}

.column {
  height: 100%;
  width: 33.33%;
  border: solid 1px gray;
  overflow: hidden;
}

.child-left {
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.child-left::before {
  content: '';
  background-image: url('jr-korpa-X2SsR0ODrfE-unsplash.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.column:hover .child-left,
.column:focus .child-left {
  transform: scale(1.2);
}

.column:hover .child-mid,
.column:focus .child-mid {
  transform: scale(1.2);
}

.column:hover .child-right,
.column:focus .child-right {
  transform: scale(1.2);
}


/* .mid {
  background-image: url('robert-horvick-1R4uPYipCFM-unsplash.jpg');
  background-size: cover;
} */

.child-mid {
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.child-mid::before {
  content: '';
  background-image: url('steve-johnson-3lCQ3UmLItw-unsplash.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.child-right {
  /* background-image: url('peyman-farmani-5Sa1KwOYVoo-unsplash.jpg'); */
  /* opacity: .2; */
  /* background-size: cover; */
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.child-right::before {
  content: '';
  background-image: url('paul-blenkhorn-sensoryarthouse--84767CQrS8-unsplash.jpg');
  background-size: cover;
  position: absolute;
  /* transition: all .5s; */

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.text {
  color: rgb(49, 48, 49);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* align-items: center; */
  /* padding-bottom: 50px; */
}

/* .overlay {
  /* position: fixed; Sit on top of the page content */
  /* display: none; Hidden by default */
  /* width: 100%; Full width (cover the whole page) */
  /* height: 100%; Full height (cover the whole page) */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); Black background with opacity */
  /* background-color: rgba(255, 255, 255, 0.63);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; /* Add a pointer on hover */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* } */ 

span {
  color: white; 
  /* background-color: rgba(245, 245, 245, 0.432); */
  font-family: sans-serif;
  /* padding: 25%; */
  position: absolute;
  top: 250px;
  /* padding-to.p: 100px; */
  /* height: 300px;
  width: 100px; */
  /* opacity: .1; */
  /* margin-bottom: 50px; */
  color: rgb(49, 48, 49);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.column:hover span,
.column:focus span {
  display: block;
  /* opacity: .1; */
}

.small-text {
  color: rgb(59, 43, 59);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: none;
  position: absolute;
  top: 320px;
  opacity: 90%;
  transition: opacity 0.9s;
  cursor: pointer;
}

.small-text:hover span  {
  display: block;
  opacity: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
}

/* .fade-in {
  opacity: 50%;
  transition:opacity 0.8s
  } */
  
  /* .fade-in:hover {
  opacity:100%;
  transition:opacity 0.5s
  } */