@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600&display=swap');
@font-face{
  font-family:"Fertigo W01 Regular";
  src:url("Fonts/942328/07e296e0-f4b2-459a-9e50-1ce5f402170c.woff2") format("woff2"),url("Fonts/942328/5308ae1c-341f-49f2-a276-926c63ed8297.woff") format("woff");
}
@font-face{
  font-family:"Corda W01 Light";
  src:url("Fonts/1438825/09b26e7c-9b91-4f2e-a93f-fc50d4e55c76.woff2") format("woff2"),url("Fonts/1438825/4fb83e43-d589-4bf4-a40f-542cb15dd8da.woff") format("woff");
}
@font-face{
  font-family:"Calluna W01 Regular";
  src:url("Fonts/942319/62ad54ed-a020-4fc1-a3dc-21e31bf8d52a.woff2") format("woff2"),url("Fonts/942319/c1b12dfe-db8e-49f0-94ac-7ad0bf217f90.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

.App {
  height: 200vh;
  /* width: 100%; */
  background-color: rgb(34, 33, 34);
  background-color: white;
  background-color: rgba(214, 167, 48, 0.856);
  background-color: black;
  padding: 5px;
}

.whole-page {
  background-color: white;
}
header {
  /* margin-top: 20px; */
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-stuff {
  height: 80px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo-container {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
}

.logo {
  height: 40px;
  width: 30px;
  font-family: 'Megrim', cursive;
  color: rgb(226, 86, 21) ;
  color: rgb(226, 69, 21) ;

  font-weight: bold;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(221, 166, 14) 2px solid;
  border-bottom: rgb(221, 138, 14) 2px solid;


}

.picture {
  height: 200px;
  width: 100vw;
  
}

/* .greeting {
  color: white;
  color: white;
  color: rgb(34, 33, 34);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 20px;
} */

/* .name {
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  animation: type 8s steps(60, end); 
} */


/* GLOBAL STYLES */
/* body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
} */

.name-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.name {
  /* padding: 20px; */
  font-size: 38px;
  font-weight: normal;
  font-family: 'Galada', cursive;
  display: flex;
  margin-right: 10px;
  
}

.title {
  font-family: 'Jaldi', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  padding-bottom: 10px;
  color: rgb(58, 57, 57);
  color: rgb(221, 138, 14) ;
  color: rgb(231, 60, 7) ;

}

.links {
  height: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: -1px;
  margin-right: 20px;
}

h2 {
  /* border: solid 2px black; */
}

/* DEMO-SPECIFIC STYLES */
/* .typewriter {
  padding: 20px;
  color: #fff;
  color: rgb(59, 43, 59);
  color: black;
  font-size: 42px;
  /* font-family: monospace; */
  /* font-family: 'Fira Code', monospace;
  font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Spartan', sans-serif; */
    /* font-family:"Fertigo W01 Regular"; */
    /* src:url("Fonts/942328/07e296e0-f4b2-459a-9e50-1ce5f402170c.woff2"); */
  /* font-family: 'Jaldi', sans-serif;
  font-family: 'Assistant', sans-serif;
  font-family:"Calluna W01 Regular";
  font-family:"Corda W01 Light";
  font-family: 'Galada', cursive; */

  /* font-weight: bolder; */
  /* overflow: hidden;  */
  /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typewriter cursor */
  /* white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */ 
  /* letter-spacing: .15em; Adjust as needed */
  /* animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite; */
/* } */ 

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

.picture-border {
  /* background-image: url('johannes-plenio-6XUA5KQ9-1k-unsplash.jpg');
  background-image: url('michael-dziedzic--a_LuSsIxHM-unsplash.jpg'); */
  /* height: 16px;
  width: 100%;
  background-size: cover;
  background-color: rgb(41, 30, 41); */
  height: 10px;
  width: 100%;
  background-color: white;
}

.main-section {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;

}

.column {
  height: 100%;
  width: 33.33%;
  border: solid 1px gray;
  overflow: hidden;
}

.child-left {
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.child-left::before {
  content: '';
  background-image: url('jr-korpa-X2SsR0ODrfE-unsplash.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.column:hover .child-left,
.column:focus .child-left {
  transform: scale(1.2);
}

.column:hover .child-mid,
.column:focus .child-mid {
  transform: scale(1.2);
}

.column:hover .child-right,
.column:focus .child-right {
  transform: scale(1.2);
}


/* .mid {
  background-image: url('robert-horvick-1R4uPYipCFM-unsplash.jpg');
  background-size: cover;
} */

.child-mid {
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.child-mid::before {
  content: '';
  background-image: url('steve-johnson-3lCQ3UmLItw-unsplash.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.child-right {
  /* background-image: url('peyman-farmani-5Sa1KwOYVoo-unsplash.jpg'); */
  /* opacity: .2; */
  /* background-size: cover; */
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.child-right::before {
  content: '';
  background-image: url('paul-blenkhorn-sensoryarthouse--84767CQrS8-unsplash.jpg');
  background-size: cover;
  position: absolute;
  /* transition: all .5s; */

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.text {
  color: rgb(49, 48, 49);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;  
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* align-items: center; */
  /* padding-bottom: 50px; */
}

/* .overlay {
  /* position: fixed; Sit on top of the page content */
  /* display: none; Hidden by default */
  /* width: 100%; Full width (cover the whole page) */
  /* height: 100%; Full height (cover the whole page) */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); Black background with opacity */
  /* background-color: rgba(255, 255, 255, 0.63);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; /* Add a pointer on hover */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* } */ 

span {
  color: white; 
  /* background-color: rgba(245, 245, 245, 0.432); */
  font-family: sans-serif;
  /* padding: 25%; */
  position: absolute;
  top: 250px;
  /* padding-to.p: 100px; */
  /* height: 300px;
  width: 100px; */
  /* opacity: .1; */
  /* margin-bottom: 50px; */
  color: rgb(49, 48, 49);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.column:hover span,
.column:focus span {
  display: block;
  /* opacity: .1; */
}

.small-text {
  color: rgb(59, 43, 59);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: none;
  position: absolute;
  top: 320px;
  opacity: 90%;
  transition: opacity 0.9s;
  cursor: pointer;
}

.small-text:hover span  {
  display: block;
  opacity: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
}

/* .fade-in {
  opacity: 50%;
  transition:opacity 0.8s
  } */
  
  /* .fade-in:hover {
  opacity:100%;
  transition:opacity 0.5s
  } */