@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600&display=swap');
@font-face{
  font-family:"Fertigo W01 Regular";
  src:url("Fonts/942328/07e296e0-f4b2-459a-9e50-1ce5f402170c.woff2") format("woff2"),url("Fonts/942328/5308ae1c-341f-49f2-a276-926c63ed8297.woff") format("woff");
}
@font-face{
  font-family:"Corda W01 Light";
  src:url("Fonts/1438825/09b26e7c-9b91-4f2e-a93f-fc50d4e55c76.woff2") format("woff2"),url("Fonts/1438825/4fb83e43-d589-4bf4-a40f-542cb15dd8da.woff") format("woff");
}
@font-face{
  font-family:"Calluna W01 Regular";
  src:url("Fonts/942319/62ad54ed-a020-4fc1-a3dc-21e31bf8d52a.woff2") format("woff2"),url("Fonts/942319/c1b12dfe-db8e-49f0-94ac-7ad0bf217f90.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Source+Serif+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

.App {
  height: 200vh;
  /* width: 100%; */
  background-color: rgb(34, 33, 34);
  background-color: white;
  background-color: rgba(214, 167, 48, 0.856);
  background-color: black;
  padding: 20px;
}

.whole-page {
  background-color: white;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  /* margin-top: 20px; */
  /* background-color: white; */
  height: 80px;
  width: calc(100% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-stuff {
  height: 80px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo-container {
  /* margin-left: 15px; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
}

.logo {
  height: 30px;
  width: 25px;
  font-family: 'Galada', cursive;
  font-family: 'Megrim', cursive;

  color: rgb(226, 86, 21) ;
  color: rgb(226, 69, 21) ;

  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(221, 166, 14) 2px solid;
  border-bottom: rgb(221, 138, 14) 2px solid;


}

/* .picture img{
  height: 400px;
  width: 90vw;
  background-image: contain;
  display: flex;
  justify-content: center; 
  background-size: cover;
  padding: 20px;
} */


/* .greeting {
  color: white;
  color: white;
  color: rgb(34, 33, 34);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 20px;
} */

/* .name {
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  animation: type 8s steps(60, end); 
} */


.name-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.name {
  /* padding: 20px; */
  font-size: 34px;
  font-weight: normal;
  font-family: 'Megrim', cursive;
  font-family: 'Galada', cursive;

  display: flex;
  margin-right: 10px;
  
}

.title {
  font-family: 'Jaldi', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'GFS Neohellenic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

  font-size: 30px;
  font-weight: 500;
  display: flex;
  padding-bottom: 10px;
  color: rgb(58, 57, 57);
  color: rgb(221, 138, 14) ;
  color: rgb(231, 60, 7) ;
  /* background: linear-gradient(to right,rgb(221, 138, 14) 0%, rgb(231, 60, 7) 100% );
  background: linear-gradient(to right, rgb(231, 60, 7) 0%, rgb(221, 138, 14) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
}

/* .text {
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
} */

.links {
  height: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'GFS Neohellenic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

  font-size: 18px;
  font-weight: bolder;
  letter-spacing: -1px;
  /* padding: 10px;   */
  /* margin-right: 20px; */
}

h2, h2:visited {
  height: 20px;
  /* width: 60px; */
  text-align: center;
  padding-bottom: 5px;
  text-decoration: none;
  position: relative;
  /* transition: all 0.2s ease-in-out; */
  /* position: relative; */
  /* border:  rgba(221, 138, 14, 0) 2px solid; */
}

/* border:  rgba(221, 138, 14, 0) 2px solid; */
/* h2:link {
  text-decoration: none;
} */
/* 
h2:visited {
  text-decoration: none;
} */

/* h2:hover, h2:active {
 
  cursor: pointer;
} */


h2:after, h2:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: rgb(231, 60, 7);
  transition: 0.2s;
}
h2:hover:after, h2:visited:hover:after {
  width: 100%;

}
h2.link, h2:visited.link {
  display: block;
  /* padding: 0.5em; */
}
h2.link:hover, h2:visited.link:hover {
  background: white;
}

.main-content {
  margin-top: 50px;
  height: 550px;
  width: calc(100% - 40px);
  /* display: flex; */
  /* flex-direction: row;
  justify-content: flex-start; */
  /* align-items: center; */
  background-image: url('./cropped_more_right_des.jpeg');
  background-size: cover;
  /* border: black solid 2px; */
}

.pic-overlay {
  width: 100%;
  height: 100%;
  /* padding-left: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(2, 2, 2, 0.493);
  /* border: black solid 2px; */
}
.about-text {
  width: 450px;
  display: flex;
  
  /* justify-content: center; */
  flex-direction: column;
  /* padding: 10px; */
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
}
.about-text > p {
  font-family: 'Lato', sans-serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'GFS Neohellenic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
  font-size: 20px;
  color: white;
  /* margin-right: 400px; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: .5px; */
}

.subheading {
  display: flex;
  flex-direction: column;
  font-family: 'Galada', cursive;
  margin-bottom: 30px;
  color: white;
}

.smaller {
  font-size: 20px;
}
.bigger {
  font-size: 40px;
}
.about-text-styled {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
}
.bigger-focus {
  font-size: 24px;
  font-weight: bold;
}

.subheading > h1 {
  display: flex;
  flex-direction: row;
  font-family: 'Galada', cursive;
  /* font-size: 28px; */
  /* margin-right: 10px; */

}

.arrow {
  height: 30px;
  width: 30px;
  background-color: transparent;
  color: white;
}


